
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

a{
    color: #000;
    position: relative;
    background-color: #fff;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .01em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px ;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    
}

a:hover{
    color: #fff;
    transition: color 1.1s, filter .5s;
    filter: drop-shadow(0 0 15px #b5b5b5);
}

a::before{
    content:'';
    position: absolute;
    top: 0;
    left: -20px;
    width: 0%;
    height: 100%;
    background: #000;
    transform: skewX(35deg);
    z-index: -1;
    transition: .5s;
}

a:hover:before{
    width: 100%;

}